@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: auto;
}
.header {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  margin:8px; 
}

li {
  display: flex;
  padding: 8px;
  align-self: center;
  list-style: none;
  
}

.left-links {
  display: flex;
  align-content: flex-start;
  margin-left: 0%;
  padding-left: 10px;
  
}

a {
  text-decoration: none;
  font-size: 12.5px;
}

.right-links {
  padding-left: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
  
}
.input {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;

}

.footer {
  display: flex;
  flex-direction: row ;
  background-color: rgb(167, 167, 167);
  margin-top: auto;
  justify-content: space-between;
  flex:0;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 7px;
  font-size: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
